.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .4);
        position: absolute;
        transition: all .2s;
        outline-offset: 1rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color: #000000, $alpha: .2);
            border: 2px solid $color-primary;


        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port) {
                top: 0;
                z-index: 99;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
            }
        }

        &:hover {
            outline: 1rem solid $color-primary;
            transform: scale(1.05) translate(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: .5);
            z-index: 20;

            @include respond(tab-port) {
                transform: none;
                outline: none;
            }
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);

        @include respond(tab-port) {
            transform: none;
        }
    }
}