*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size: 62.5%; //10px = 1rem



    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9xp, 8/16
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px, 9/16
    }

    @include respond(phone) {
        font-size: 30%;
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px, 12/16
    }


}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}